AUTH_SECRET=your-secret
# AUTH_DISCORD_ID=your-discord-app-id
# AUTH_DISCORD_SECRET=your-discord-app-secret
# DATABASE_URL=postgres://postgres:pass123@127.0.0.1:5432/t3DB

# DATABASE_URL="http://127.0.0.1:8085"
DATABASE_URL=libsql://
DATABASE_AUTH_TOKEN=***
# TURSO_